<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "large-6 large-centered columns" }) do |f| %>
  <fieldset>
    <legend>Forgot your password?</legend>
    <%= devise_error_messages! %>

    <div><%= f.email_field :email, autofocus: true %></div>

    <div><%= f.submit "Send me reset password instructions" %></div>
  </fieldset>
<% end %>
