#todos.large-6.medium-9.small-12.medium-centered.columns
  %h1 To-Dos

  - @todos.each do |todo|
    = render todo

%br

.large-6.medium-9.small-12.medium-centered.columns
  = form_for Todo.new, remote: true do |f|
    %fieldset
      %legend New To-Do
      = f.text_field :name, label: false, required: true, placeholder: "Name"
      = f.submit 'Save'
